@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to DigiBank!</h1>
        <p>This is an amazing website but it's only internal. Please login to manage accounts.</p>
    </div>
