.all {
  margin: 10px;
}

.title {
    font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container div {
  border: 2px solid blue;
  padding: 5px;
}

.desc {
  width: 200px;
}

.name {
  width: 200px;
}

.other {
  width: 60px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toolbar ul li {
    display: inline;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
}

.toolbar a {
  color : white;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

footer a {
  display: flex;
  align-items: center;
}

footer p {
  display: flex;
  align-items: center;
}

.listOfItems{
  margin:10px;
  clear:both;
  font-family: Arial, Helvetica, sans-serif;
}

.listOfItems input{
  margin:10px;
}
.listOfItems ul li{
  margin:5px;
}

.listOfItems ul li a{
  font-family: Arial, Helvetica, sans-serif;
}

.listOfItems label{
  margin:10px;
  width:100px;
  display:inline-block;
}

.listOfItems table th, table td{
  border:black solid 1px;
  border-collapse: collapse;
}

.detailsList label{
  margin:10px;
}

.detailsList input{
  margin:5px;
}

.bigTextBox{
  width:350px;
  height:100px;
}

/* .textToAlign{
  width:100px;
  clear:right;
}

.textToAlign input{
  widows: 100%; 
  clear:right;
}*/

/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
  
}
